<div class="container">
  <div class="heading">
    <h1>
      {{title}}
    </h1>
  </div>
  <div class="row">
    <div class="col-md-12"><h3>Work Experience</h3></div>
  </div>
<squeezebox [multiple]="false">
  <sb-item  *ngFor="let item of itemsList">
      <sb-item-head>{{item.title}}</sb-item-head>
      <sb-item-body>
        <div class="row">
          <div class="col-md-4"> 
            Project
            </div>
          <div class="col-md-8">
            Technology
          </div>
        </div>
        <div class="row">
          <div class="col-md-4"> 
            {{item.project}}
            </div>
          <div class="col-md-8">
            {{item.tech}}
          </div>
        </div>
      </sb-item-body>
  </sb-item>
</squeezebox>
  
</div>

